/* You can add global styles to this file, and also import other style files */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Londrina Solid', cursive;
}

span.badge.new:after {
	content:'';
}

img {
	max-width: 100%;
	max-height: 100%;
}
