<header>
	<nav class="px-3">
    <div class="nav-wrapper">
      <a href="#"><div class="brand-logo d-flex w-100"><figure class="m-0"><img alt="" class="nav-logo mr-2" src="https://cdn.pixabay.com/photo/2016/03/31/15/23/icon-1293234_960_720.png"></figure>Media searcher</div></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a class="grey-text text-lighten-3" href="">Home</a></li>
				<li><a class="grey-text text-lighten-3" href="https://github.com/Mia-Salazar/crud-heroes">Search</a></li>
				<li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/miasalazar/">Linkedin</a></li>
				<li><a class="grey-text text-lighten-3" href="https://medium.com/@marasalazar">Medium</a></li>
      </ul>
    </div>
  </nav>
</header>
