<header>
	<nav class="px-3 d-flex justify-content-between">
		<a class="navbar-brand" href="#"><div class="brand-logo d-flex"><figure class="m-0"><img alt="" class="nav-logo mr-2" src="https://cdn.pixabay.com/photo/2016/03/31/15/23/icon-1293234_960_720.png"></figure>Media searcher</div></a>
		<ul class="hide-on-med-and-down">
			<li>
				<a class="grey-text text-lighten-3" routerLink="/">Home</a>
			</li>
			<li>
				<a class="grey-text text-lighten-3"  routerLink="/search">Search</a>
			</li>
		</ul>
	</nav>
</header>
